:root {
    --primaryColor: #0E131F;
    --secondaryColor: #38405F;
    --tertiaryColor: #59546C;
    --quaternaryColor: #8B939C;
    --quinaryColor: #FF0035;
    --font-color: white;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-size: 16px;
    --block-elementHeight: 100px;
    --block-elementWidth: 10px;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--tertiaryColor); */
    /* color: var(--secondaryColor); */
    
}

 

header {
    position: fixed;
    top: 0;
    min-height: 70px;
    width: 100%;
    z-index: 50;
}

/* slide */
/* main {
    display: flex;
}

main section {
    min-width: 100%;
} */
h1, h2 ,h3, h4, h5, h6 {
    text-align: center;

}

h1:hover,h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    animation: headings_size 1s ease-out;
}

body {
    position: relative;
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */
}

#home{
    height: 800px;
    margin-top: 90px;
}

section {
    transition: all 2s;
}

section:hover {
    box-shadow: 0 14px 28px var(--primaryColor);
}


/* for navbar items hover effect */
.nav-item:hover {
    background-color: var(--secondaryColor);
    border-radius: 10px;
}
.nav-link:hover {
    background-color: var(--secondaryColor);
    border-radius: 10px;
}
.nav-item:hover {
    background-color: var(--quaternaryColor);
}


.col-4 {
    border-left: 10px solid var(--primaryColor);
    padding-left: 10px;
    border-top: 5px solid var(--quaternaryColor);

}

#exp_h3, #cards  {
    border: none;
}
.progress-bar {
    height: 3vh;
    
}

.card-img-overlay {
   margin-left: 400px;
}
/* card animation */
.card {
    transition: ease-in-out 0.8s;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.1);
}

/* animation */
@keyframes headings_size {
    0% {
        /* transform: scale(0.5); */
        box-shadow: var(--primaryColor);
        transition: all 2s;
    }
    50% {
        transition: all 2s;
        
    }
    100% {
        transition: all 2s;
        background-color: var(--tertiaryColor);
    }
}


@media screen and (min-width: 300px) and (max-width: 720px) {
    h1, h2 ,h3, h4, h5, h6, .icons {
        transform: scale(0.7);
    }
    table th { 
        display: none;
    }
    table td {
        display: flex;
    }

    .testimonials {
        display: flex;
        flex-direction: column wrap;
    }
    .card-img-overlay {
        margin: auto;
        transform: scale(0.7);
     }

     #testimonials {
        position: relative;
     }

     #h2_testimonials {
        position: absolute;
     }

     #Joel {
        /* margin: 100px 0px px; */
        transform: scale(1);
     }

     #Joel_Img {
        transform: scale(1.2);
     }

     #Cassidy {
        margin: 360px 60px;
        transform: scale(1);
     }

     #Cassidy_Img {
        transform: scale(1);
     }

     #Umayr {
        transform: scale(0.9);
        margin: 160px 0px 0px;
     }

     #Uzukhanye {
        margin: 250px 30px;
        transform: scale(1.1);
     }
     /* main {
        display: flex;
    }
    
    main section {
        min-width: 100%;
    }
    section {
        overflow: hidden;
    } */
    
}

